body {
    color: $cor-secundaria; // Cor para o site;
}
 a {
    text-decoration: none !important; // Remover barra de link;
 }

 h1 {
    font-size: 26px;
 }

 h1, h2, h3, h4, h5 {
    font-weight: bold;
 }