@media (max-width: 2560px){
    header {
        form {
            button {
                left: 1560px;
            }
        }
    }
}

@media (max-width: 1440px){
    header {
        form {
            button {
                left: 1003px;
            }
        }
    }
}

@media (max-width: 1200px) {
    header {
        form {
            button {
                left: 837px;
            }
        }
    }
}

@media (max-width: 1024px) {
    header {
        form {
            button {
                left: 705px;
            }
        }
    }
}

@media (max-width: 900px) {
    header {
        form {
            button {
                left: 585px;
            }
        }
    }
}

@media (max-width: 768px) {
    header {
        form {
            button {
                left: 520px;
            }
        }
    }

    a {
        img {
            margin: 0 10px 0 0;
        }
    }

    #banners-promocionais {
        display: none;
    }
}

@media (max-width: 767px) {
    header {
        form {
            button {
                left: 605px;
            }
        }
    }
    a {
        img {
            margin: 0 0 10px 0;
        }
    }
    ul {
        li {
            margin: 25px 0 0 0;
        }
    }

    .produtos-container img {
        width: 100%;
    }
}

@media (max-width: 720px) {
    header {
        form {
            button {
                left: 580px;
            }
        }
    }

    a {
        img {
            margin: 0 0 10px 0;
        }
    }
    ul {
        li {
            margin: 25px 0 0 0;
        }
    }

    .banners-promocionais-fixos {
        .banners-promocionais-fixos-12x {
            margin: 0 0 20px 0;
        }
    }

    footer {
        ul {
            li {
                float: left;
                margin: 10px;
            }
        }
    }
}

@media (max-width: 480px) {
    header {
        form {
            button {
                left: 420px;
            }
        }
    }
}

@media (max-width: 425px) {
    header {
        form {
            button {
                left: 365px;
            }
        }
    }
}

@media (max-width: 375px) {
    header {
        form {
            button {
                left: 320px;
            }
        }
    }
}

@media (max-width: 320px) {
    header {
        form {
            button {
                left: 260px;
            }
        }
    }
    .banners-promocionais-fixos {
        .banners-promocionais-fixos-12x,
        .banners-promocionais-fixos-entrega-br {
            p {
                font-size: 16px;
            }
        }
    }
}
