$branco: #FFF; // Cor do Background do Site;
$rosa: #FF0F9A; // Cor do histórico de navegação no site;
$amarelo: #FFC107; // Cor do cabeçalho, botões, Entradas do menu de Rodapé;
$grafite: #343A40; // Cor do texto e barra de menu;
$roxo: #B343C3;

$cor-primaria: $amarelo;
$cor-secundaria: $grafite;